body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.text-image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
}

a {
    text-decoration: none;
}

.text-image-section:nth-child(even) {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-image-section:nth-child(odd) {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.tekst {
    flex: 1;
    padding: 20px;
}

.bilde {
    flex: 1;
    padding: 20px;
}

.bilde img {
    max-width: 100%;
    max-height: 450px;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.tekst h2 {
    font-size: 1.5em;
}

h2, p {
    color: #444444;
}

.skog {
    background-color: #bdecb6;
    border: 2px solid #4CAF50;
}

.nordpolen {
    background-color: #cfebf5;
    border: 2px solid #2196F3; 
}

.savanne {
    background-color: #ffe0b2;
    border: 2px solid #FF9800;
}

.savanne-img{
    margin-left: 110px;
}


.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}
.Hfade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms ease-in, transform 250ms ease-in;
}

.Hfade-in.appear {
    opacity: 1;
    transform: translateY(0);
}